{% extends 'base.html.twig' %}

{% block meta %}
    {{ parent() }}
    <meta name=“robots“ content=“noindex,nofollow“ />
{% endblock %}

{% set fullHeader = false %}

{% block content %}
    <div class="max-w-5xl mx-auto px-8 pb-16">
        <h2 class="pb-16 text-6xl text-brand-default">Impressum.</h2>
        <div class="p-8 border-4 border-secondary-light rounded-xl bg-white">
            <div class="prose prose-a:text-brand-default prose-a:no-underline prose-h4:uppercase">
                <p>Stand: 7. Januar 2026</p>
                <p>Die folgenden Adressinformationen werden nur aus Gründen der Rechtssicherheit gegeben. Jeglicher Missbrauch wird entsprechend geahndet.</p>
                <h3>Diensteanbieter</h3>
                <p>
                    Marcel Kraus<br/>
                    Bonner Straße 88<br/>
                    50374 Erftstadt
                </p>
                <p>Umsatzsteuer Identifikationsnummer (USt-ID): DE225346678</p>
                <p>
                    E-Mail: hallo (at) marcelkraus (punkt) de<br/>
                    Telefon: Erstkontakt bitte <a href="{{ path('app_homepage') }}#kontakt">per Kontaktformular</a> oder E-Mail
                </p>
                <h3>Haftungs- und Schutzrechtshinweise</h3>
                <h4>Haftungsauschluss</h4>
                <p>Die Inhalte dieses Internetauftritts wurden sorgfältig und nach unserem aktuellen Kenntnisstand erstellt, dienen jedoch nur der Information und entfalten keine rechtlich bindende Wirkung, sofern es sich nicht um gesetzlich verpflichtende Informationen (z.B. das Impressum, die Datenschutzerklärung, AGB oder verpflichtende Belehrungen von Verbrauchern) handelt. Wir behalten uns vor, die Inhalte vollständig oder teilweise zu ändern oder zu löschen, soweit vertragliche Verpflichtungen unberührt bleiben. Alle Angebote sind freibleibend und unverbindlich.</p>
                <h4>Links auf fremde Internetauftritte</h4>
                <p>Inhalte fremder Internetauftritte, auf die wir direkt oder indirekt verweisen, liegen außerhalb unseres Verantwortungsbereiches und machen wir uns nicht zu Eigen. Für alle Inhalte und insbesondere für Schäden, die aus der Nutzung der in den verlinkten Internetauftritten aufrufbaren Informationen entstehen, haftet allein der Anbieter der verlinkten Internetauftritte.</p>
                <h4>Urheberrechte und Markenrechte</h4>
                <p>Alle auf diesem Internetauftritt dargestellten Inhalte, wie Texte, Fotografien, Grafiken, Marken und Warenzeichen sind durch die jeweiligen Schutzrechte (Urheberrechte, Markenrechte) geschützt. Die Verwendung, Vervielfältigung usw. unterliegt unseren Rechten oder den Rechten der jeweiligen Urheber bzw. Rechteverwalter.</p>
                <h4>Hinweise auf Rechtsverstösse</h4>
                <p>Solltest du innerhalb unseres Internetauftritts Rechtsverstöße bemerken, bitten wir dich, uns auf diese hinzuweisen. Wir werden rechtswidrige Inhalte und Links nach Kenntnisnahme unverzüglich entfernen.</p>
                <p class="text-sm"><a href="https://datenschutz-generator.de/" title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank" rel="noopener noreferrer nofollow">Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas Schwenke</a>, vom Betreiber angepasst.</p>
            </div>
        </div>
    </div>
{% endblock %}