{% extends 'base.html.twig' %}

{% block meta %}
    {{ parent() }}
    <meta name="robots" content="noindex,nofollow" />
{% endblock %}

{% block content %}
    <div class="max-w-3xl mx-auto px-8 pt-32 pb-24">
        <h1 class="text-3xl sm:text-4xl font-bold">Impressum</h1>
        <div class="mt-4 w-12 h-1 bg-accent"></div>
        <div class="mt-12 prose dark:prose-invert prose-a:text-accent prose-a:no-underline prose-h4:uppercase max-w-none">
                <p>Stand: 1. April 2026</p>
                <p>Die folgenden Adressinformationen werden nur aus Gründen der Rechtssicherheit gegeben. Jeglicher Missbrauch wird entsprechend geahndet.</p>
                <h3>Diensteanbieter</h3>
                <p>
                    Marcel Kraus<br/>
                    Bonner Straße 88<br/>
                    50374 Erftstadt
                </p>
                <p>Umsatzsteuer-Identifikationsnummer (USt-ID): DE225346678</p>
                <p>
                    E-Mail: hallo (at) marcelkraus (punkt) de<br/>
                    Telefon: Erstkontakt bitte per E-Mail
                </p>
            </div>
    </div>
{% endblock %}
